In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df=pd.read_excel('P:\\maede\\2020-10-19_1_Schweißgut_Q_feucht_Abriss.xlsx')

In [7]:
display(df)

,200,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,FMax
0,102.0,Dehnung[%],Weg [mm],Kraft [N],Zeit[s],Spannung[Mpa],173631.0
1,NaN,0.000194,0.019811,2202.600098,0.1,11.013,NaN
2,NaN,0.000276,0.028167,2968.199951,0.2,14.841,NaN
3,NaN,0.000358,0.036524,3655.199951,0.3,18.276,NaN
4,NaN,0.00044,0.044858,4238.399902,0.4,21.192,NaN
...,...,...,...,...,...,...,...
5285,NaN,0,NaN,NaN,NaN,0,NaN
5286,NaN,0,NaN,NaN,NaN,0,NaN
5287,NaN,0,NaN,NaN,NaN,0,NaN
5288,NaN,0,NaN,NaN,NaN,0,NaN
5289,NaN,0,NaN,NaN,NaN,0,NaN

In [8]:
df.columns=df.loc[0,:]

In [12]:
df.drop(0,axis=0,inplace=True)
display(df)

0     102.0 Dehnung[%]  Weg [mm]    Kraft [N] Zeit[s] Spannung[Mpa]  173631.0
1       NaN   0.000194  0.019811  2202.600098     0.1        11.013       NaN
2       NaN   0.000276  0.028167  2968.199951     0.2        14.841       NaN
3       NaN   0.000358  0.036524  3655.199951     0.3        18.276       NaN
4       NaN    0.00044  0.044858  4238.399902     0.4        21.192       NaN
5       NaN   0.000521  0.053149  4717.799805     0.5     23.588999       NaN
...     ...        ...       ...          ...     ...           ...       ...
5285    NaN          0       NaN          NaN     NaN             0       NaN
5286    NaN          0       NaN          NaN     NaN             0       NaN
5287    NaN          0       NaN          NaN     NaN             0       NaN
5288    NaN          0       NaN          NaN     NaN             0       NaN
5289    NaN          0       NaN          NaN     NaN             0       NaN

[5289 rows x 7 columns]